<include file='public/header' />

<body>
    <div class="page page-monitor">
        <!-- header start -->
        <include file="public/top" />
        <!-- header end  -->
        <div class="frame-body frame-sidebar-full">
            <!-- 侧栏 -->
            <include file='public/left' />

            <!-- 状态栏 -->
            <ul class="frame-statusbar">
                <li>当前数据更新时间为：<span class="c-blue">2014-11-27 12:00:00</span></li>
                <li>还剩 : <span class="c-green">03：</span><span class="c-blue">00</span></li>
                <li>进行数据更新 : <span class="c-orange">55</span></li>
            </ul>
            <!-- 内容 -->
            <div class="frame-content">
                <div class="page-container page-scanning">
                    <div class="page-scanning-tit">
                        <span class="titcon">
                                 <i class="titstyle"></i>
                                数据统计
                            </span>
                    </div>
                    <div class="system-analysis">
                        <ul>
                            <li>
                                <a href="#">
                                    <dl>
                                        <dt>
                                            <img src="assets/images/member/xtfx01.png">
                                        </dt>
                                        <dd class="g3">6.518个</dd>
                                        <dd>黑客数</dd>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <dl>
                                        <dt>
                                            <img src="assets/images/member/xtfx02.png">
                                        </dt>
                                        <dd class="c-black">15个</dd>
                                        <dd>攻击成功</dd>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <dl>
                                        <dt>
                                            <img src="assets/images/member/xtfx03.png">
                                        </dt>
                                        <dd class="g3">0个</dd>
                                        <dd>攻击未知事件</dd>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <dl>
                                        <dt>
                                            <img src="assets/images/member/xtfx04.png">
                                        </dt>
                                        <dd class="g3">280518个</dd>
                                        <dd>日志数量</dd>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <dl>
                                        <dt>
                                            <img src="assets/images/member/xtfx05.png">
                                        </dt>
                                        <dd class="g3">12.518个</dd>
                                        <dd>攻击次数</dd>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <dl>
                                        <dt>
                                            <img src="assets/images/member/xtfx06.png">
                                        </dt>
                                        <dd class="g3">1012个</dd>
                                        <dd>后门数量</dd>
                                    </dl>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-scanning-middle">
                        <div class="page-scanning-tit">
                            <span class="titcon">
                                 <i class="titstyle"></i>
                                 大数据威胁处理
                            </span>
                        </div>
                        <div class="page-scanning-detil">
                            <table class="Logtable" cellpadding="0" cellspacing="0">
                                <tr class="trbg">
                                    <th>攻击源IP</th>
                                    <th>攻击目标IP</th>
                                    <th>攻击类型</th>
                                    <th>攻击次数</th>
                                </tr>
                                <tr>
                                    <td class="c-blue">128.187.116.225</td>
                                    <td class="c-blue">128.187.116.225</td>
                                    <td>
                                        <span class="bgyellow">Webshell菜单攻击</span>
                                    </td>
                                    <td>7次</td>
                                </tr>
                                <tr>
                                    <td class="c-blue">128.187.116.225</td>
                                    <td class="c-blue">128.187.116.225</td>
                                    <td>
                                        <span class="bgred">流量WEB数据SQL注入攻击</span>
                                        <span class="bgblue">读取系统文件攻击</span>
                                        <span class="bgyellow">Webshell菜单攻击</span>
                                    </td>
                                    <td>7次</td>
                                </tr>
                                <tr>
                                    <td class="c-blue">128.187.116.225</td>
                                    <td class="c-blue">128.187.116.225</td>
                                    <td>
                                        <span class="bgred">流量WEB数据SQL注入攻击</span>
                                        <span class="bgblue">读取系统文件攻击</span>
                                        <span class="bgyellow">Webshell菜单攻击</span>
                                    </td>
                                    <td>7次</td>
                                </tr>
                                <tr>
                                    <td class="c-blue">128.187.116.225</td>
                                    <td class="c-blue">128.187.116.225</td>
                                    <td>
                                        <span class="bgyellow">Webshell菜单攻击</span>
                                    </td>
                                    <td>7次</td>
                                </tr>
                                <tr>
                                    <td class="c-blue">128.187.116.225</td>
                                    <td class="c-blue">128.187.116.225</td>
                                    <td>
                                        <span class="bgred">流量WEB数据SQL注入攻击</span>
                                        <span class="bgblue">读取系统文件攻击</span>
                                        <span class="bgyellow">Webshell菜单攻击</span>
                                    </td>
                                    <td>7次</td>
                                </tr>
                                 <tr>
                                    <td class="c-blue">128.187.116.225</td>
                                    <td class="c-blue">128.187.116.225</td>
                                    <td>
                                        <span class="bgred">流量WEB数据SQL注入攻击</span>
                                        <span class="bgblue">读取系统文件攻击</span>
                                        <span class="bgyellow">Webshell菜单攻击</span>
                                    </td>
                                    <td>7次</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    diyou.use("app/progress", function(fn) {
        fn.monitorProgress();
    })
    </script>
</body>

</html>
