@charset "utf-8";
.page-dialog {
    width: 90%;
    margin: 0 5%;
}

//网盾宝数据监测-监控设置弹窗
.monitoring {
    width: 100%;
    display: inline-block;
    .monitoring-tit {
        width: 100%;
        line-height: 25px;
        padding: 5px 10px;
        background: #f4f4f4;
        margin: 15px 0;
        font-size: 14px;
        color: #333;
        font-weight: bold;
    }
    .monitoring-con {
        width: 100%;
        display: inline-block;
        p {
            width: 100%;
            font-size: 14px;
            color: #333;
            line-height: 30px;
            margin-top: 10px;
            .laber-tit {
                float: left;
                text-align: right;
                width: 220px;
                display: inline-block;
            }
            .contit {
                width: 160px;
                font-weight: bold;
                font-size: 14px;
                color: #333;
                float: left;
                text-align: right;
                display: inline-block;
                margin-right: 10px;
            }
            .leftlist {
                width: 260px;
                float: left;
                display: inline-block;
                margin-left: 20px;
            }
            .rightlist {
                width: 300px;
                display: inline-block;
                margin-left: 15px;
            }
            .timenum {
                width: 60px;
                display: inline-block;
                color: #666;
                padding: 0 10px;
            }
            a {
                font-size: 16px;
                color: #008def;
                text-align: center;
                padding: 5px 30px;
                line-height: 20px;
                display: inline-block;
                border-radius: 3px;
                border: 1px solid #1d90ff;
                margin: 0 10px;
                &:hover {
                    background: #1d90ff;
                    color: #fff;
                    border: 1px solid #1d90ff;
                }
            }
            .saveBtn {
                background: #1d90ff;
                color: #fff;
                border: 1px solid #1d90ff;
            }
        }
        .mauto-center {
            text-align: center;
        }
    }
}

/*首页弹出框样式*/

.activeclick {
    width: 100%;
    padding: 30px 0;
    display: inline-block;
    text-align: center;
    .activeclick-title {
        text-align: center;
        font-size: 16px;
        color: #222222;
        line-height: 40px;
    }
    .activeclick-con {
        font-size: 14px;
        color: #808080;
        p {
            margin: 10px 0;
        }
        .beiz {
            font-size: 12px;
            color: #595959;
            margin-top: 40px;
            i {
                color: #358dd1!important;
                font-size: 12px!important;
            }
        }
        label {
            width: 100px;
            text-align: right;
            display: inline-block;
        }
        em {
            color: red;
            font-size: 14px;
            padding: 0 3px;
        }
        .input-text {
            width: 150px;
            border: 1px solid #efefef;
            border-radius: 2px;
            line-height: 20px;
            padding: 5px 10px;
        }
        .input-text1 {
            width: 80px;
            border: 1px solid #efefef;
            border-radius: 2px;
            line-height: 20px;
            padding: 5px 10px;
        }
        .msgnotice {
            width: 200px;
            float: right;
            text-align: left;
            margin-right: 40px;
            .iconfont {
                font-size: 14px!important;
            }
        }
        .lomail {
            margin: 0 5px;
            display: inline-block;
        }
        .makecode {
            font-size: 14px;
            color: #fff;
            padding: 0 10px;
            line-height: 30px;
            background: #d26c68;
            display: inline-block;
            &:hover {
                background: #d94842;
            }
        }
        .clickMail {
            background: #4abae1;
            padding: 0 15px;
            color: #fff;
            border-radius: 3px;
            margin-top: 5px;
            display: inline-block;
            line-height: 30px;
            &:hover {
                background: #2ddded;
            }
        }
    }
}

.pw_strength {
    background-color: #ffd099;
    height: 18px;
    margin: 5px 0 0 85px;
    overflow: hidden;
    position: relative;
    width: 153px;
    left: 60px;
    .pw_bar {
        background-color: #ff0000;
        height: 18px;
        overflow: hidden;
        transition: all 0.4s linear 0s;
        width: 0;
    }
}

.pw_letter {
    left: 0;
    position: absolute;
    top: 0;
    span {
        border-right: 1px solid #fff;
        color: #fff;
        display: inline;
        float: left;
        font-size: 12px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        width: 50px;
    }
}