<ul>
    <li>
        <a href="{:U(logadd)}">
            <dl>
                <dt>
                    <img src="assets/images/member/Journal1.png">
                </dt>
                <dd>添加日志</dd>
            </dl>
        </a>
    </li>
    <li>
        <a href="{:U(logsearch)}">
            <dl>
                <dt>
                    <img src="assets/images/member/Journal2.png">
                </dt>
                <dd>搜索日志</dd>
            </dl>
        </a>
    </li>
    <li>
        <a href="#">
            <dl>
                <dt>
                    <img src="assets/images/member/Journal3.png">
                </dt>
                <dd>帮助文档</dd>
            </dl>
        </a>
    </li>
</ul>