@charset "utf-8";
/**************
	@description:重置基础样式;
	@Author:ray;
	@create date:2015-06-29;
***************/
html,body{
	height: 100%;
}
body{ 	
	background: #f0f0f0; 
	color: #333;
}
body,button, input, select, textarea{ 
	margin: 0;
	font: 12px/1.5 "Microsoft YaHei", "tahoma", "arial", "sans-serif"; 
}

dl, dd, p, form{
	margin:0;
}
ol, ul, li{
	margin: 0; 
	padding: 0;
	list-style-type: none;
}
em, i{
	font-style: normal;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
a{ 
	color: #666; 
	text-decoration:none;
	outline:none;
	&:hover{
		color: #666; 
	}
}
img{ 
	border:0;  
	vertical-align: top;
}

input, select, textarea{ 
	outline:0;
}

input[type="checkbox"],
input[type="radio"]{ 
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 5px; 
}

.notex{
	display:inline-block;
	width:52px;
	height:25px;
	border:0;
	letter-spacing:-3em;
	overflow:hidden;
	&:first-letter {
		margin-left:-20em;
	}
}

.fl{
	float:left;
	display:inline;
}
.fr{
	float:right;
	display:inline;
}
.fn-clear{ 
	zoom:1; 
}
.fn-clear:after{ 
	content:"."; 
	display:block; 
	clear:both; 
	visibility:hidden; 
	font-size:0; 
	height:0;
	line-height:0;
}

.mt5{ margin-top: 5px !important; }
.mt10{ margin-top: 10px !important; }
.mt20{ margin-top: 20px !important; }
.mt30{ margin-top: 30px !important; }
.mt40{ margin-top: 40px !important; }
.mt50{ margin-top: 50px !important; }
.mb10{ margin-bottom: 10px !important; }
.mb15{ margin-bottom: 15px !important; }
.mb20{ margin-bottom: 20px !important; }
.mb30{ margin-bottom: 30px !important; }
.mb40{ margin-bottom: 40px !important; }
.mb50{ margin-bottom: 50px !important; }
.mr5{ margin-right: 5px !important; }
.mr10{ margin-right: 10px !important; }
.mr20{ margin-right: 10px !important; }
.mr30{ margin-right: 30px !important; }
.mr50{ margin-right: 50px !important; }
.ml10{ margin-left: 10px !important; }
.ml20{ margin-left: 20px !important; }
.ml30{ margin-left: 30px !important; }
.ml60{ margin-left:60px !important; }
.ml100{ margin-left: 100px !important; }
.w35{width: 35px!important;}
.w50{ width: 50px!important; }
.w60{ width: 60px!important; }
.w70{ width: 70px!important; }
.w80{ width: 80px!important; }
.w90{ width: 90px!important; }
.w100{ width: 100px!important; }
.w150{ width: 150px!important; }
.w200{ width: 200px!important; }
.w250{ width: 250px!important; }
.w300{ width: 300px!important; }

.txt-c{ text-align: center; }
.txt-l{ text-align: left; }
.txt-r{ text-align: right; }


/*颜色样式*/
.c-white{color:#fff!important;}
.c-blue{ color: #2385e6 !important; }
.c-red{ color: #ff5256 !important; }
.c-yellow{ color: #fba450 !important; }
.c-green{ color: #05ab11 !important; }
.c-gray{ color: #a2a2a2 !important; }
.c-organe{ color: #ff8200 !important; }
.g3{ color: #333 !important; }
.g6{ color: #666 !important; }
.g9{ color: #999 !important; }


/*背景颜色样式*/
.bg-white{ background-color: #fff !important; }
.bg-blue{ background-color: #2385e6 !important; }
.bg-red{ background-color: #ff5256 !important; }
.bg-yellow{ background-color: #fba450 !important; }
.bg-green{ background-color: #b2ca60 !important; }
.bg-gray{ background-color: #a2a2a2 !important; }
.bg-orange{ background-color: #ff8200 !important; }

/*字体大小样式*/
.f12{ font-size:12px !important; }
.f14{ font-size:14px !important; }
.f16{ font-size:16px !important; }
.f18{ font-size:18px !important; }
.f20{ font-size:20px !important; }
.f22{ font-size:22px !important; }
.f24{ font-size:24px !important; }
.f26{ font-size:26px !important; }
.f32{ font-size:32px !important; }
.f40{ font-size:40px !important; }

/*按钮样式*/
.btn{
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	border-radius: 4px;
	border: 0;
}
.btn:active {
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}
.btn[disabled]{
	pointer-events:none;
	cursor:not-allowed;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	box-shadow:none;
	opacity:.65
}
.btn-block{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	display: block;
}
.btn-lg{
	font-size: 16px;
	line-height: 1.375;
	padding: 9px 12px;
}
.btn-sm{
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.btn-xs {
	padding: 2px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.btn-blue{
	background-color:#2d8eed;
	color: #FFF;
	&:hover{
		background-color:#3098fe;
		color:#FFF;
	}
}
.btn-white{
	background-color: #FFF;
	color: #333;
	position: relative;
	border: 1px solid #ccc;
	padding: 5px 12px;
	&:hover{
		background-color: #FFF;
		color: #333;
	}
}
.btn-red{
	background-color: #e97b7a;
	color: #FFF;
	&:hover{
		background-color: #e97b7a;
		color: #FFF;
	}
}
.btn-yellow{
	background-color: #fba450;
	color: #FFF;
	&:hover{
		background-color: #fba450;
		color: #FFF;
	}
}
.btn-green{
	background-color: #1ab394;
	color: #FFF;
	&:hover{
		background-color: #1ab394;
		color: #FFF;
	}
}
.btn-gray{
	background-color: #e0e0e0;
	color: #999;
	&:hover{
		background-color: #ccc;
		color: #666;
	}
}
.btn-orange{
	background-color: #ff8200;
	color: #FFF;
	&:hover{
		background-color: #f9860e;
		color: #FFF;
	}
}
.btn-blue-border{
	border:1px solid #2d8eed;
	background:#fff;
	color:#2d8eed;
	padding: 5px 12px;
	&:hover{
		background-color: #2d8eed;
		color: #FFF;
	}
}
.btn-orange-border{
	border:1px solid #ff6600;
	background:#fff;
	color:#ff6600;
	padding: 5px 12px;
	&:hover{
		background-color: #ff6600;
		color: #FFF;
	}
}


/*表单样式*/
.form-group{
	zoom: 1;
	margin-bottom: 15px;
}
.form-group:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}
.form-label{
	display: inline-block;
	line-height: 32px;
	padding-right: 10px;
	font-size: 14px;
	color: #666;
}
.form-title{
	display: inline-block;
	line-height: 32px;
	color: #666;
	padding: 0 5px;
	vertical-align: middle;
}
.form-control{
	width: 240px;
	line-height: 1.5;
	padding: 6px 10px;
	font-size: 12px;
	color: #333;
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	vertical-align: middle;
	&:focus{
		border-color: #66afe9;
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6));
	}	
}
.form-date{
	width: 110px;
	line-height: 1.5;
	padding: 6px 10px;
	font-size: 12px;
	color: #333;
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	vertical-align: middle;
	&:focus{
		border-color: #66afe9;
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6));
	}	
}
.form-select{
	height: 32px;
	padding: 0 6px;
	font-size: 12px;
	color: #333;
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	vertical-align: middle;
	&:focus{
		border-color: #66afe9;
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6));
	}
}

.form-tarea{
	width: 358px;
	height: 100px;
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	padding: 10px;
	resize: none;
	&:focus{
		border-color: #66afe9;
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6));
	}
	textarea{
		border: 0;
		width: 100%;
		height: 100%;
		resize: none;
		overflow: hidden;
	}
}
.form-radio{
	line-height: 32px;
	color: #333;
	margin-right: 10px;
	input{
		vertical-align: top;
		margin-top: 10px;
		margin-right: 5px;
	}
	label{
		display: inline-block;
		min-width: 50px;
		_width: 50px;
		padding-left: 10px;
	}
}
.form-error{	
	overflow: hidden;
	.error{
		   background:url(images/user/right_error.png) no-repeat 0px -25px;
		   padding-left: 22px;
		   margin: 0;
	}
}

span.error,em.error,lable.error{
	color: #ff0000;
	line-height: 32px;
	margin: 0 5px;
}

/*栅格化布局*/
.row{
	zoom: 1;
	&:after{
		clear: both;
		content: '.';
		display: block;
		height: 0;
		visibility: hidden;
	}
}
.col-lg-1, 
.col-lg-2, 
.col-lg-3, 
.col-lg-4, 
.col-lg-5, 
.col-lg-6, 
.col-lg-7, 
.col-lg-8, 
.col-lg-9, 
.col-lg-10, 
.col-lg-11, 
.col-lg-12 {
    float: left;
}
.col-lg-12 {
    width: 100%;
}
.col-lg-11 {
	width: 91.66666667%;
}
.col-lg-10 {
	width: 83.33333333%;
}
.col-lg-9 {
	width: 75%;
}
.col-lg-8 {
	width: 66.66666667%;
}
.col-lg-7 {
	width: 58.33333333%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-5 {
	width: 41.66666667%;
}
.col-lg-4 {
	width: 33.33333333%;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-2 {
	width: 16.66666667%;
}
.col-lg-1 {
	width: 8.33333333%;
}